
@{
    ViewData["Title"] = "Choose";
}

<h2>Choose</h2>

<ul>
    <li><a href="@Url.Action("Face", "Home")">Face Recognition</a></li>
    <li><a href="@Url.Action("Voice", "Home")">Voice Recognition</a></li>
</ul>